---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Multipagina-1">
	<span class="font-myfont">Hola mundo</span>
	<div class="text-red-400 text-5xl">Clear</div>
	<div class="h-[1200px]">
		texto largo con scroll
	</div>
</Layout>

